# ADITYA SAHU

# Pre processing of Pima indians dataset to make imbalance ratio of training and testing same

In [ ]:
import numpy as np
from numpy import linalg
import pandas as pd

In [2]:
train = pd.read_csv("pima-indians-diabetes.csv")
train.head()

   1    2   3   4    5     6      7   8  9
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [3]:
train['9'] = train['9'].map({1: 1, 0: -1})
print(train['9'])

0      1
1     -1
2      1
3     -1
4      1
5     -1
6      1
7     -1
8      1
9      1
10    -1
11     1
12    -1
13     1
14     1
15     1
16     1
17     1
18    -1
19     1
20    -1
21    -1
22     1
23     1
24     1
25     1
26     1
27    -1
28    -1
29    -1
      ..
738   -1
739    1
740    1
741   -1
742   -1
743    1
744   -1
745   -1
746    1
747   -1
748    1
749    1
750    1
751   -1
752   -1
753    1
754    1
755    1
756   -1
757    1
758   -1
759    1
760   -1
761    1
762   -1
763   -1
764   -1
765   -1
766    1
767   -1
Name: 9, Length: 768, dtype: int64

In [4]:

train=np.asarray(train)

In [5]:
min_train=np.zeros((268,9))
max_train=np.zeros((500,9))
min_train=np.asarray(min_train)
max_train=np.asarray(max_train)

In [6]:

k=0
l=0
for i in range(0,768):
    if(train[i][8]==1):
        for j in range(0,9):
            min_train[k][j]=train[i][j]   
        k=k+1
    else :
        for j in range(0,9):
            max_train[l][j]=train[i][j]
        l=l+1

In [7]:
print(min_train)

[[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 [  0.    137.     40.    ...   2.288  33.      1.   ]
 ...
 [  6.    190.     92.    ...   0.278  66.      1.   ]
 [  9.    170.     74.    ...   0.403  43.      1.   ]
 [  1.    126.     60.    ...   0.349  47.      1.   ]]

#768/5 =153.6
#So we have to make no. of instances in data1,2 as 153 and data3,4,5 as 154 
#Also min class value will be 35% of 153=53 and max class=100

In [21]:
data1=np.zeros((153,9))
data2=np.zeros((153,9))
data3=np.zeros((154,9))
data4=np.zeros((154,9))
data5=np.zeros((154,9))

In [22]:
for i in range(0,268):
    for j in range(0,9):
        if(i<53):
            data1[i][j]=min_train[i][j]
        elif(52<i and i<106):
            data2[i-53][j]=min_train[i][j]
        elif(105<i and i<160):
            data3[i-106][j]=min_train[i][j]
        elif(159<i and i<214):
            data4[i-160][j]=min_train[i][j]
        elif(213<i and i<268):
            data5[i-214][j]=min_train[i][j]
    
        
print(data5[54])

[0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [28]:
for i in range(0,500):
    for j in range(0,9):
        if(i<100):
            data1[i+53][j]=max_train[i][j]
        elif(99<i and i<200):
            data2[i-47][j]=max_train[i][j]
        elif(199<i and i<300):
            data3[i-146][j]=max_train[i][j]
        elif(299<i and i<400):
            data4[i-246][j]=max_train[i][j]
        elif(399<i and i<500):
            data5[i-346][j]=max_train[i][j]   
print(data5[153])

[ 1.    93.    70.    31.     0.    30.4    0.315 23.    -1.   ]

In [35]:
print(data5.shape)
data5

(154, 9)

array([[  9.   , 112.   ,  82.   , ...,   1.282,  50.   ,   1.   ],
       [  0.   , 119.   ,   0.   , ...,   0.141,  24.   ,   1.   ],
       [  7.   , 114.   ,  64.   , ...,   0.732,  34.   ,   1.   ],
       ...,
       [  2.   , 122.   ,  70.   , ...,   0.34 ,  27.   ,  -1.   ],
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,  -1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,  -1.   ]])

In [38]:
import csv
with open('new_pima.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data1)

csvFile.close()

In [39]:
import csv
with open('new_pima.csv', 'a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data2)

csvFile.close()

In [40]:
import csv
with open('new_pima.csv', 'a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data3)

csvFile.close()

In [41]:
import csv
with open('new_pima.csv', 'a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data4)

csvFile.close()

In [42]:
import csv
with open('new_pima.csv', 'a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data5)

csvFile.close()

In [47]:
df = pd.read_csv("new_pima.csv")
#checking the number of empty rows in th csv file
print (df.isnull().sum())
#Droping the empty rows
modifiedDF = df.dropna()
#Saving it to the csv file 
modifiedDF.to_csv('modifiedpima.csv',index=False)

6        767
148      767
72       767
35       767
0        767
33.6     767
0.627    767
50       767
1        767
dtype: int64