In [18]:
from fknn import *
import numpy as np

In [19]:
import pandas as pd
dataset = pd.read_csv("iris-virginica.csv")

In [20]:
dataset

     species  sepal_length  sepal_width  petal_length  petal_width
0          0           5.1          3.5           1.4          0.2
1          0           4.9          3.0           1.4          0.2
2          0           4.7          3.2           1.3          0.2
3          0           4.6          3.1           1.5          0.2
4          0           5.0          3.6           1.4          0.2
..       ...           ...          ...           ...          ...
145        1           6.7          3.0           5.2          2.3
146        1           6.3          2.5           5.0          1.9
147        1           6.5          3.0           5.2          2.0
148        1           6.2          3.4           5.4          2.3
149        1           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [21]:
X = dataset.iloc[:, 1:]
Y = dataset.iloc[:,0]

X = np.array(X)
Y = np.array(Y)
Y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [22]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(X,Y)

In [23]:
import pprint
import operator

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.base import BaseEstimator, ClassifierMixin
from sklearn.metrics import mean_squared_error

In [10]:
model = FuzzyKNN()

In [11]:
model.fit(xTrain, yTrain)

FuzzyKNN(k=3, plot=False)

In [12]:
model.score(xTest, yTest)

C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:55: RuntimeWarning: divide by zero encountered in double_scalars
  den += 1 / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: divide by zero encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:62: RuntimeWarning: invalid value encountered in double_scalars
  vote = num/den
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: invalid value encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))

1.0

In [13]:
model.mean_squared_error(xTest, yTest)

0.0

In [14]:
model.predict(xTrain[3])

[(0, {0: 1.0, 1: 0.0}),
 (0, {0: 1.0000000000000002, 1: 0.0}),
 (0, {0: 1.0, 1: 0.0}),
 (1, {0: 0.0, 1: 1.0})]

In [15]:
value_array = []
error_array = []
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
for train_index, test_index in skf.split(X, Y):
    print("TRAIN:", train_index, "TEST:", test_index)
    xTrain, xTest = X[train_index], X[test_index]
    yTrain, yTest = Y[train_index], Y[test_index]
    model.fit(xTrain, yTrain)
    value = model.score(xTest, yTest)
    error = model.mean_squared_error(xTest, yTest)
    value_array.append(value)
    error_array.append(error)

TRAIN: [  0   1   2   4   6   7   8   9  10  11  12  13  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  34  36  37  40  41  42  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  59  61  62  63  64
  65  66  68  69  70  71  72  73  74  75  76  77  78  79  80  84  85  87
  88  90  91  92  93  95  96  97  98  99 100 103 104 105 107 108 109 110
 111 112 113 114 116 117 118 120 121 122 123 124 125 126 127 129 133 135
 136 137 138 139 140 141 144 145 146 147 148 149] TEST: [  3   5  14  32  33  35  38  39  43  44  60  67  81  82  83  86  89  94
 101 102 106 115 119 128 130 131 132 134 142 143]
TRAIN: [  0   2   3   4   5   6   7   8  10  11  12  13  14  17  18  20  21  23
  24  25  27  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43
  44  45  48  49  50  51  53  54  55  56  57  58  59  60  61  62  63  64
  65  66  67  68  70  71  72  74  75  76  78  79  80  81  82  83  86  87
  89  91  92  93  94  95  97  99 100 101 102 103 105 106 107 108 110 111
 113 114 115 116 118 119 120 121 122 124 125 126 127 128 129 130 131 132
 133 134 135 136 137 139 140 141 142 143 146 148] TEST: [  1   9  15  16  19  22  26  28  46  47  52  69  73  77  84  85  88  90
  96  98 104 109 112 117 123 138 144 145 147 149]

C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:55: RuntimeWarning: divide by zero encountered in double_scalars
  den += 1 / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: invalid value encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: divide by zero encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:62: RuntimeWarning: invalid value encountered in double_scalars
  vote = num/den

TRAIN: [  0   1   2   3   4   5   6   7   8   9  11  12  13  14  15  16  18  19
  20  21  22  26  27  28  30  32  33  35  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  55  56  57  58  59  60  61  62  63  64  66
  67  68  69  70  72  73  75  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  92  94  96  97  98 100 101 102 104 106 107 109 110 111 112
 113 114 115 116 117 118 119 120 121 122 123 125 126 128 129 130 131 132
 134 135 138 139 140 142 143 144 145 146 147 149] TEST: [ 10  17  23  24  25  29  31  34  36  37  53  54  65  71  74  76  91  93
  95  99 103 105 108 124 127 133 136 137 141 148]

C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:55: RuntimeWarning: divide by zero encountered in double_scalars
  den += 1 / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: invalid value encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:60: RuntimeWarning: divide by zero encountered in double_scalars
  num = (neighbors.iloc[n].membership[c]) / (dist ** (2 / (m-1)))
C:\Users\rita folisi\Desktop\Tirocinio\Codice\knn\Funzionanti\Tirocinio\FuzzyKNN-master\fknn.py:62: RuntimeWarning: invalid value encountered in double_scalars
  vote = num/den

TRAIN: [  1   2   3   5   6   7   9  10  11  12  13  14  15  16  17  19  21  22
  23  24  25  26  27  28  29  31  32  33  34  35  36  37  38  39  43  44
  46  47  48  49  51  52  53  54  55  56  59  60  61  62  65  66  67  68
  69  70  71  73  74  75  76  77  78  79  81  82  83  84  85  86  87  88
  89  90  91  93  94  95  96  98  99 100 101 102 103 104 105 106 108 109
 112 114 115 117 119 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 136 137 138 141 142 143 144 145 147 148 149] TEST: [  0   4   8  18  20  30  40  41  42  45  50  57  58  63  64  72  80  92
  97 107 110 111 113 116 118 120 135 139 140 146]
TRAIN: [  0   1   3   4   5   8   9  10  14  15  16  17  18  19  20  22  23  24
  25  26  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43
  44  45  46  47  50  52  53  54  57  58  60  63  64  65  67  69  71  72
  73  74  76  77  80  81  82  83  84  85  86  88  89  90  91  92  93  94
  95  96  97  98  99 101 102 103 104 105 106 107 108 109 110 111 112 113
 115 116 117 118 119 120 123 124 127 128 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149] TEST: [  2   6   7  11  12  13  21  27  48  49  51  55  56  59  61  62  66  68
  70  75  78  79  87 100 114 121 122 125 126 129]

In [16]:
value_array

[1.0, 0.9666666666666667, 0.9333333333333333, 1.0, 1.0]

In [17]:
error_array

[0.0, 0.03333333333333333, 0.06666666666666667, 0.0, 0.0]